NODE_ENV=production
PORT=3000
CLIENT_URL=http://localhost:4173
MONGO_URL=mongodb://mongodb:27017/blogpost
JWT_SECRET=sdjkfbdsjbhweugreuyw3247tasbkdjh
JWT_REFRESH_SECRET=sdkhfouquirq3i23brfs12351ajhdf
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
